*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}


main {
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  gap: 12px;
  background-color: rgb(48, 46, 46);
  border-radius: 8px;
  color: azure;
  margin-top: 20px;
  align-items: center;

}

img {
  width: 300px;
  height: 400px;
  border-radius: 8px;
}